<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<th:block th:fragment="layout-navbar">
    <header class="main-header" id="main-navbar">
        <a th:href="@{/}" class="logo">
            <span class="logo-lg"><b>Lanchonete</b></span>
        </a>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
                <li class="header">
                    <h5 th:text="${#authentication.principal.usuario.nome}"></h5>
                    <a th:href="@{/logout}" data-toggle="tooltip" data-placement="bottom" title="Logout">
                        <em class="fa  fa-sign-out"></em>
                    </a>
                </li>
            </ul>
        </section>
    </aside>
</th:block>

</body>
</html>