<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:data="http://www.thymeleaf.org/extras/data">

<th:block th:fragment="pagination (pagina)">
    <div class="row">
        <div class="col-sm-12" th:if="${not pagina.vazia}">
            <nav class="pull-right">
                <ul class="pagination js-pagination  pagination-sm no-margin"
                    data:atual="${pagina.atual}"
                    data:url="${pagina.url}"
                    data:total="${pagina.total}">
                </ul>
            </nav>
        </div>
    </div>
</th:block>

</html>